<script setup>
import Hero from '@/components/homepage/Hero.vue'
import Category from '@/components/homepage/Category.vue'
import Items from '@/components/homepage/Items.vue'
</script>

<template>
  <main>
    <!-- Hero -->
    <Hero />
    <!-- Categories -->
    <Category />
    <!-- New Items -->
    <Items />
  </main>
</template>
